:root
{
    --primary-button-color:aqua;
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*base styles*/
h1
{
    margin-bottom: 16px;
    font-size: 1.8rem;
}

h2
{
    font-size:1.1rem;
}

.container
{
    max-width: 1200px;
    margin:0 auto;
}

.primary-button
{
    display:inline-block;
    padding:10px;
    background-color: var(--primary-button-color);
    text-align: center;
    border-radius: 5px;
    border:0;
    cursor: pointer;
}


#main-secton
{
    padding: 16px;
}   

#questionTitle
{
    font-size:1.5rem;
    margin-bottom: 16px;
}
.option-container
{
    margin-bottom: 16px;
}
.option-container > input[type="radio"]
{
    margin-right: 16px;
    border: 2px solid aqua;
    background-color: blanchedalmond;
}

.option-container > label
{
    color:#f00;
    font-size: 1.3rem;
}

#game-top-area
{
    margin-bottom: 16px;
}

#game-top-area >h2
{
    display: inline-block;
    margin-right: 20px;
}